/* General reset for the body */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Styling for the login container */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    background-color: #f5f5f5;
  }
  
  /* Styling for the login card */
  .login-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    animation: fadeIn 1s ease-in-out;
  }
  
  /* Heading for the login form */
  .login-heading {
    text-align: center;
    color: #154661;
    font-size: 1.8em;
    margin-bottom: 20px;
  }
  
  /* Styling for the form fields */
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-field label {
    display: block;
    color: #154661;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .form-field input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
  }
  
  .form-field input:focus {
    border-color: #7e502b;
    outline: none;
  }
  
  /* Styling for the login button */
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #7e502b;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #154661;
  }
  
  /* Styling for the forgot password and signup link */
  .forgot-password {
    text-align: center;
    margin-top: 10px;
  }
  
  .forgot-password a {
    color: #7e502b;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 15px;
    color: black;
  }
  
  .signup-link a {
    color: #7e502b;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }

  